@import 'tailwindcss';

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #003462;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #8bc751;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--color-background: #222222;
	--color-background-alt: #1b263b;
	--color-primary: #01456f;
	--color-secondary: #72b8e5;
	--color-accent: #0077b6;
	--color-light: #90e0ef;
	--color-text: #ffffff;

	--color-light-background: #ffffff;
	--color-light-background-alt: #f0f4f8;
	--color-light-primary: #0077b6;
	--color-light-secondary: #f77f00;
	--color-light-accent: #00a8e8;
	--color-light-light: #1b263b;
	--color-light-text: #0d1b2a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	overflow-x: hidden;
	position: relative;
}

#container-wrapper {
	overflow-x: hidden;
	position: relative;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.marquee-content {
	animation: marquee 200s linear infinite; /* Increased duration for slower speed */
}

.letter-shadow {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), -1px -1px 2px rgba(0, 0, 0, 0.5),
		1px -1px 2px rgba(0, 0, 0, 0.5), -1px 1px 2px rgba(0, 0, 0, 0.5);
}
